<article class="handouts" role="article">
<header>
<h3>{{ if isset .Params "quarter" }}{{ .Params.quarter | upper }}{{ end }} <a href="{{ .Permalink }}">{{ .Title | safeHtml }}</a></h3>
</header>
<p>{{ .Summary }}</p>
</article>
