<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="content-start" role="main">

<section class="single">
<h2>Course archives</h2>
<ul class="courses-archive">
{{ range $key, $value := .Data.Pages }}
	<li><p>{{ range $quarter := $value.Params.quarters }}
		{{ $quarter | upper }}
		{{ end }}
		<a href="{{ $value.Permalink }}">{{ $value.Title }}</a></p></li>
{{ end }}
</ul>
</section>

</main>

{{ partial "footer.html" . }}

</body>
</html>
