<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="content-start" role="main">

<section class="single">
{{ range .Data.Pages }}
<h2>{{ .Title }}</h2>
	{{ .Content }}
{{ end }}
</section>

</main>
{{ partial "footer.html" . }}
</body>
</html>
