<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="content-start" role="main">

<section class="single">
<h2>All handouts</h2>
{{ range .Data.Pages }}
	{{ .Render "summary" }}
{{ end }}
</section>

</main>
{{ partial "footer.html" . }}
</body>
</html>
