<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="content-start" role="main">

<section class="single {{ .Type }}">
<h2>{{ .Title | safeHtml }}
	{{ if isset .Params "quarters" }}
	{{ range $quarter := .Params.quarters }}
	 ({{ $quarter | upper }})
	{{ end }}
	{{ end }}
</h2>
{{ if and (eq .Section "courses") (isset .Params "quarter") }}
{{ $quarter := .Params.quarter }}
<h3>Handouts</h3>
<ul>
  <li><a href="/handouts/resources/" title="Campus Resources">Campus Resources</a></li>
  {{ range where .Site.Recent "Section" "handouts" }}
  {{ if eq .Params.quarter $quarter }}
  <li><a href="{{ .RelPermalink }}">{{ .Title | safeHtml }}</a></li>
  {{ end }}
  {{ end }}
</ul>
{{ end }}
{{ .Content }}
</section>

<footer class="single {{ .Type }}">
	<p>Posted on <time datetime="{{ .Date }}">{{ .Date.Format "2 January 2006" }}</time>. See <a href="/{{ .Type }}">all {{ .Type }}</a>.</p>
</footer>

</main>
{{ partial "footer.html" . }}
</body>
</html>
