<header>
<h3 class="{{ .Type }}">
{{ if isset .Params "link" }}<a href="{{ .Params.link }}">{{ end }}
{{ .Title | safeHtml }}
{{ if isset .Params "link" }}</a>{{ end }}
</h3>
</header>
{{ .Content }}
