	<link href="/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />
    {{ "<!--[if lt IE 9]>" | safeHtml }}
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    {{ "<![endif]-->" | safeHtml }}
		
	{{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title | safeHtml }}" />{{ end }}