<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title | safeHtml }} — alexdunn.info</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Alex Dunn is a PhD student at UCSB" />
<meta name="author" content="Alex Dunn" />
<meta name="keywords" content="ucsb, philosophy" />

  {{ partial "assets.html" . }}

</head>