<section class="quicklinks">
<div class="flex">
<h2 class="resources"><a href="/handouts/resources">UCSB Campus Resources</a></h2>

<h2>Course pages</h2>
<ul class="courses-list">
{{ range $key, $value := .Data.Pages }}
{{ if eq $value.Type "courses" }}
	<li>{{ $quarter := $value.Params.quarter }}
		{{ $quarter | upper }}
		<a href="{{ $value.Permalink }}">{{ $value.Title }}</a></li>
{{ end }}
{{ end }}
</ul>
</div>
</section>
