<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="content-start" role="main">

{{ partial "quicklinks.html" . }}

<section class="primary">

<h2>Page not found</h2>
<p>There’s no page located at this address. Email me if you think that’s a mistake!</p>

</section>
</main>
{{ partial "footer.html" . }}
</body>
</html>
