<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="content-start" role="main">

{{ partial "quicklinks.html" . }}

<section class="primary">

<article class="blurb">
<h2 id="im-a-graduate-student-in-philosophy-at-ucsb">I’m a graduate student in Philosophy at UCSB</h2>
<p>I study language and communication, and I’m particularly interested in proper names, semantic minimalism, and implicature. I wrote my <a href="/docs/thesis">undergraduate thesis</a> on the metaphysics of things and their parts, arguing that even if ordinary things like tables and chairs exist, they are very different than we might at first think.</p>
</article>

<article class="projects">
<h2>Projects</h2>
{{ range .Data.Pages }}
{{ if eq .Type "projects" }}
<h3 class="project-header">{{ if isset .Params "link" }}<a href="{{ .Params.link }}">{{ end }}{{ .Title | safeHtml }}{{ if isset .Params "link" }}</a>{{ end }}</h3>
</header>
{{ .Content }}
{{ end }}
{{ end }}
</article>
</section>
</main>
{{ partial "footer.html" . }}
</body>
</html>
