<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<main id="content-start" role="main">
<h2>Course: {{ .Title | safeHtml }}</h2>

{{ range .Data.Pages }}
	{{ .Render "article" }}
{{ end }}

</main>
{{ partial "footer.html" . }}
</body>
</html>
